<div class="panel panel-default panel-intro">
    <div class="panel-body">
        <div class="d-panel d-panel-grey bg-white q-mb-md count-all-quantity">
            <div class="d-panel-horn top-left-horn top-right-horn"></div>
            <div class="text-h6 text-center q-pa-md">
                数据
            </div>
            <hr class="q-mt-none q-mx-md">
            <div class="d-row text-center q-mx-md">
                <div class="d-col count-register">
                    <div class="d-card q-pa-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总会员</div>
                    </div>
                </div>
                <div class="d-col count-payment_amount">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总充值</div>
                    </div>
                </div>
                <div class="d-col count-withdraw_amount">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总提现</div>
                    </div>
                </div>
            </div>
            <div class="d-row text-center q-mx-md">
                <div class="d-col count-balance">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总余额</div>
                    </div>
                </div>
                <div class="d-col count-bonus">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总赠金</div>
                    </div>
                </div>
                <div class="d-col count-wager_fee">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总佣金</div>
                    </div>
                </div>
            </div>
            <div class="d-row text-center q-mx-md">
                <div class="d-col count-wager_points">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总下注手续费</div>
                    </div>
                </div>
                <div class="d-col count-withdraw_fee">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总提现手续费</div>
                    </div>
                </div>
                <div class="d-col count-wager_totalprice">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">总下注</div>
                    </div>
                </div>
            </div>
            <div class="d-row text-center q-mx-md">
                <div class="d-col">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none">0</div>
                        <div class="text-grey-8">总利息</div>
                    </div>
                </div>
            </div>
            <div class="line-title q-mb-md q-mx-md hidden"><span class="line-title-content">实时新增会员</span></div>
            <div class="d-panel-horn bottom-left-horn bottom-right-horn"></div>
        </div>
        <div class="d-panel d-panel-grey bg-white q-mb-md count-people">
            <div class="d-panel-horn top-left-horn top-right-horn"></div>
            <div class="text-h6 text-center q-pa-md">
                数据
            </div>
            <hr class="q-mt-none q-mx-md">
            <div class="text-center q-mb-md">
                <div class="d-btn-group q-mb-md select-time">
                    <a class="d-btn outline q-mx-xs active" data-value="7" href="javascript:">7天</a>
                    <a class="d-btn outline q-mx-xs" data-value="15" href="javascript:">15天</a>
                    <a class="d-btn outline q-mx-xs" data-value="30" href="javascript:">30天</a>
                    <a class="d-btn outline q-mx-xs" data-value="0" href="javascript:">其它</a>
                </div>
                <div>08-23 ~ 09-22</div>
            </div>
            <div class="d-row text-center q-mx-md">
                <div class="d-col count-register">
                    <div class="d-card q-pa-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">新增会员</div>
                    </div>
                </div>
                <div class="d-col count-recharge">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">充值人数</div>
                    </div>
                </div>
                <div class="d-col count-projects">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">下注人数</div>
                    </div>
                </div>
            </div>
            <div class="line-title q-mb-md q-mx-md hidden"><span class="line-title-content">实时新增会员</span></div>
            <div class="d-panel-horn bottom-left-horn bottom-right-horn"></div>
        </div>
        <div class="d-panel d-panel-grey bg-white count-total">
            <div class="d-panel-horn top-left-horn top-right-horn"></div>
            <div class="text-h6 text-center q-pa-md">
                数据
            </div>
            <hr class="q-mt-none q-mx-md">
            <div class="text-center q-mb-md">
                <div class="d-btn-group q-mb-md select-time">
                    <a class="d-btn outline q-mx-xs active" data-value="7" href="javascript:">7天</a>
                    <a class="d-btn outline q-mx-xs" data-value="15" href="javascript:">15天</a>
                    <a class="d-btn outline q-mx-xs" data-value="30" href="javascript:">30天</a>
                    <a class="d-btn outline q-mx-xs" data-value="0" href="javascript:">其它</a>
                </div>
                <div>08-23 ~ 09-22</div>
            </div>
            <div class="d-row text-center q-mx-md">
                <div class="d-col count-payment_amount">
                    <div class="d-card q-pa-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">充值金额</div>
                    </div>
                </div>
                <div class="d-col count-withdraw_amount">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">提现金额</div>
                    </div>
                </div>
                <div class="d-col count-first_payment">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">首充人数</div>
                    </div>
                </div>
                <div class="d-col count-wager_totalprice">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">下注金额</div>
                    </div>
                </div>
            </div>
            <div class="d-row text-center q-mx-md">
                <div class="d-col count-wager_points">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">投注佣金</div>
                    </div>
                </div>
                <div class="d-col count-wager_fee">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">佣金分成</div>
                    </div>
                </div>
                <div class="d-col count-bonus">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">红包赠金</div>
                    </div>
                </div>
                <div class="d-col count-profit">
                    <div class="d-card q-pa-md q-ml-md q-mb-md">
                        <div class="h3 q-mt-none count-quantity">0</div>
                        <div class="text-grey-8">区间盈亏</div>
                    </div>
                </div>
            </div>
            <div class="d-panel-horn bottom-left-horn bottom-right-horn"></div>
        </div>
    </div>
</div>

<style>
    .d-btn-group .active{
        background-color: #0a6aa1;
        color: #FFFFFF;
    }
    .line-title{
        position: relative;
        text-align: center;
        overflow: hidden;
    }
    .line-title span.line-title-content{
        display: inline-block;
        padding: 0 16px;
        position: relative;
    }
    .line-title span.line-title-content::before {
        content: '';
        position: absolute;
        display: inline-block;
        border-top: 1px solid rgb(204,204,204);
        height: 0;
        font-size: 0;
        top: 50%;
        left: -1000%;
        width: 1000%;
        transform: translateY(-50%);
    }
    .line-title span.line-title-content::after {
        content: '';
        position: absolute;
        display: inline-block;
        border-top: 1px solid rgb(204,204,204);
        height: 0;
        font-size: 0;
        top: 50%;
        right: -1000%;
        width: 1000%;
        transform: translateY(-50%);
    }
    .d-row{
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
        align-items:center;
    }
    .d-col{
        width: auto;
        min-width: 0;
        max-width: 100%;
        flex: 10000 1 0;
    }
    .d-card{
        border-radius: 3px;
        border:1px solid rgb(204,204,204);
    }
    .d-btn-group{
        display: flex;
        justify-content: center;
    }
    .d-btn{
        color: #888888;
        padding: 3px 5px;
        min-width: 45px;
        display: block;
        border-radius: 3px;
    }
    .d-btn.outline{
        border:1px solid rgb(204,204,204);
    }
    .d-panel{
        border-width: 1px;
        border-style: solid;
        position: relative;
        min-height: 40px;
    }
    .d-panel-grey{
        border-color: rgb(204,204,204);
        background-color: rgba(204,204,204,.2);
    }
    .d-panel-grey .d-panel-horn::before,
    .d-panel-grey .d-panel-horn::after{
        border-color: rgb(204,204,204);
    }
    .d-panel .d-panel-horn{
        width: 100%;
        height: 0;
        font-size: 0;
    }
    .d-panel .top-left-horn::before{
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        border-top-width: 2px;
        border-top-style: solid;
        border-left-width: 2px;
        border-left-style: solid;
        position: absolute;
        top: 0;
        left: 0;
    }
    .d-panel .top-right-horn::after{
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        border-top-width: 2px;
        border-top-style: solid;
        border-right-width: 2px;
        border-right-style: solid;
        position: absolute;
        top: 0;
        right: 0;
    }
    .d-panel .bottom-left-horn::before{
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-left-width: 2px;
        border-left-style: solid;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .d-panel .bottom-right-horn::after{
        content: '';
        display: inline-block;
        height: 16px;
        width: 16px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-right-width: 2px;
        border-right-style: solid;
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>

