<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form class="form-inline" method="post" action="{$payurl}">
    <?php
                foreach ($params as $key => $val) {
    echo '<input type="hidden" name="' . $key . '" value="' . $val . '">';
    }
    ?>
    <button type="submit" class="btn btn-success btn-lg">支付(金额100INR)</button>
</form>
</body>
</html>