<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_id" data-rule="required" data-source="goods/index" class="form-control selectpage" name="row[goods_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code" class="form-control" name="row[code]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Issue')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-issue" data-rule="required" class="form-control" name="row[issue]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Belongdate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-belongdate" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[belongdate]" type="text" value="{:date('Y-m-d')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Salestart')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-salestart" data-rule="required" class="form-control" name="row[salestart]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Saleend')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-saleend" data-rule="required" class="form-control" name="row[saleend]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Earliestwritetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-earliestwritetime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[earliestwritetime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Writetime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-writetime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[writetime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Writeid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-writeid" data-rule="required" class="form-control" name="row[writeid]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Verifytime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-verifytime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[verifytime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Verifyid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-verifyid" data-rule="required" class="form-control" name="row[verifyid]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statusdeduct')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statusdeduct" data-rule="required" class="form-control" name="row[statusdeduct]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statuscheckbonus')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statuscheckbonus" data-rule="required" class="form-control" name="row[statuscheckbonus]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Statusbonus')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-statusbonus" data-rule="required" class="form-control" name="row[statusbonus]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
